.body{
    background-color: #ffe4c4;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: auto; 
    margin: auto;
}

.conteudo-login{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logojasminne{
    min-width: auto;
    max-width: 15%;
}

.textologin{
    text-decoration: none;
    color: #831D16;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-weight: 30%;
    margin-top: 10px;
    margin-bottom: 8px;
}

.caixa-de-entrada{
    color: gray;
    margin: 0px;
    height: 20%;
    border-color: #831D16;
    border-radius: 5px;
}

.enviar{
    background-color: #831D16;
    color: white;
    border:1px solid black;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding: 5px 8px;
    text-decoration:none;
    margin-top: 15px;
}

.enviar:active {
    position:relative;
    top:2px;
}

@media screen and (max-width: 1024px){
   
}