* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#conteudo-pag {
    width: 30%;
    height: auto;
    margin: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    display: flexbox;
}

.body {
    max-width: auto;
    padding: 0;
    margin: auto;
    background-color: #ffe4c4;
}

.conteudo-login {
    text-align: center;
    width: 100%;
    height: 100%;
}

.logojasminne {
    min-width: auto;
    max-width: 15%;
    margin-bottom: 20px;
}

.login {
    height: 100%;
}

.textologin {
    height: 80%;
    text-decoration: none;
    color: #831D16;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-weight: 30%;
    margin-top: 10px;
    margin-bottom: 8px;
}

.caixa-de-entrada {
    color: gray;
    margin: 0px;
    height: 30%;
    border-color: #831D16;
    border-radius: 5px;
}

.enviar {
    background-color: #831D16;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    padding: 5px 8px;
    text-decoration: none;
    margin-top: 15px;
}

.enviar:active {
    position: relative;
    top: 2px;
}

.tabela{
    margin: auto;
    table-layout: fixed;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 5px #831D16;
}

/* PRA CELULAR*/
@media screen and (max-width: 600px) {
}

/*PRA TABLET*/
@media screen and (max-width: 992px) {
    #conteudo-pag {
        width: 100%;
        margin: auto;
        margin-top: 3%;
        padding: 10px;
        text-align: center;
        justify-content: center;
        height: auto;
    }

    .logojasminne{
        max-width: 20%;
    }

    .login {
        height: auto;
    }
    .textologin {
        height: auto;
        font-size: 45px;
        text-decoration: none;
        color: #831D16;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .caixa-de-entrada {
        color: gray;
        margin: auto;
        width: 300px;
        height: 40px;
        border-color: #831D16;
        border-radius: 5px;
        align-items: center;
        margin-bottom: 20px;
        font-size: 25px;
        text-align: center;
    }
    .enviar {
        font-size: 35px;
        padding: 5px 8px;
        text-decoration: none;
        margin-top: 15px;
    }
}

/*PRA COMPUTADOR*/
@media screen and (min-width: 992px) {
    *{
        align-items: center;
        align-content: center;
        
    }

    #conteudo-pag {
        width: 100%;
        margin-top: 3%;
        padding: 10px;
        justify-content: center;
        height: auto;
    }
    .login {
        height: auto;
    }
    .textologin {
        height: auto;
        font-size: 30px;
        text-decoration: none;
        color: #831D16;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .caixa-de-entrada {
        color:gray;
        margin: auto;
        width: 300px;
        height: 40px;
        border-color: #831D16;
        border-radius: 5px;
        align-items: center;
        margin-bottom: 15px;
        font-size: 25px;
        text-align: center;
        
    }

    .enviar {
        font-size: 25px;
        padding: 5px 8px;
        text-decoration: none;
        margin-top: 10px;
    }
}

.alerUsuarioerrado{
    font-family: "Arial Narrow";
    color: white;
    height: 30px;
    width: 220px;
    background: orangered;
    margin-top: 10px;
    margin-left: 850px;
    border-radius: 10px;
}
.caixa_nome_erro_usuario{
    margin-top: 10px;
    text-align: center;
}